<div class="container">
  <h1 class="display-5 d-flex justify-content-center">Projeler</h1>
  <div class="row">

    <div class="col" *ngFor="let item of projects | async" style="padding-top:30px;">

      <div class="card" style="width: 18rem;">
        <img src="https://localhost:44386/{{item.photos[0].url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description | slice:0:100}}..</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Lokasyon : <strong> {{item.location}}</strong></li>
          <li class="list-group-item">Bitiş Tarihi : <strong>{{item.finishDate}}</strong></li>
          <li class="list-group-item">Toplam Ölçü : <strong>{{item.measure}}</strong></li>
        </ul>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <a href="projectDetail/{{item.id}}" class="card-link">Proje Detayları</a>
              </div>
              <div class="col-md-4">
                <button type="button" (click)="deleteProject(item.id)" class="btn btn-danger left">SİL</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>